<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-esptouch-smartconfig"
      version="1.0.0">
    <name>Cordova Esptouch Smart Config</name>
    <description>Cordova plugin for Esptouch Smart config for esp8266 and ESP32 chips</description>
    <license>Apache 2.0</license>
    <keywords>cordova, Esptouch, Esp8266, ESP32, Smart Config, Kiot Innovations, Kiot</keywords>
    <repo>https://github.com/kiot-innovations/cordova-plugin-esptouch-smartconfig.git</repo>
    <issue>https://github.com/kiot-innovations/cordova-plugin-esptouch-smartconfig/issues</issue>

    <js-module name="espTouchSmartconfig" src="www/espTouchSmartconfig.js">
        <clobbers target="espTouchSmartconfig"/>
    </js-module>
<!-- 	android platform -->
    <platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
			<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		</config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="espTouchSmartconfig">
                <param name="android-package" value="io.kiot.smartconfig.espTouchSmartconfig"/>
				<param name="onload" value="true" />
            </feature>
        </config-file>
		<source-file src="src/android/espTouchSmartconfig.java" target-dir="src/io/kiot/smartconfig/" />
        <!-- <source-file src="src/android/esptouch.jar" target-dir="libs/" /> -->
        <source-file src="src/android/com/espressif" target-dir="app/src/main/java/com"/>
    </platform>
<!-- 	ios platform -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="espTouchSmartconfig">
			 <param name="ios-package" value="espTouchSmartconfig"/>
		   </feature>
	   </config-file>
	   <header-file src="src/ios/espTouchSmartconfig.h"/>
       <source-file src="src/ios/espTouchSmartconfig.m"/>
	   
	   <framework src="CoreGraphics.framework" />
	   <framework src="UIKit.framework" />
	   <framework src="Foundation.framework" />
	   <framework src="EspTouch" type="podspec" spec="5.3.2"/>
		
      <podspec>
      <config>
        <source url="https://github.com/brightcove/BrightcoveSpecs.git" />
        <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods use-frameworks="true">
        <pod name="EspTouch" spec="~> 5.3.2" />
      </pods>
    </podspec>
	</platform>
</plugin>
